ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

li {
    font-family: var(--font-sans);
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-section {
    width: 90%;
    padding: 1rem;
}

.section-title {
    font-family: var(--font-sans, 'DM Mono', monospace);
}

.section-subtitle {
    font-family: var(--font-serif-text);
}

.skill-item {
    padding-left: 0rem;
}