@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..900;1,9..40,100..900&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap');

:root {
  --font-sans: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
  --font-serif: 'DM Serif Display', serif;
  --font-serif-text: 'DM Serif Text', serif;

  --bg-base: #0d0d0f; /* Deepest background */
  --bg-secondary: #10101a;
  --bg-surface: #16161a; /* Card background */
  --border-subtle: #2a2a2e; /* Dividers, outlines */

  --text-main: #f0ece4; /* Primary headers */
  --text-muted: #9ca3af; /* Paragraphs and secondary information */
  --accent: #e8e6e0; /* Interactions and highlights */

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: clamp(3rem, 5vw, 5rem); /* Spacing between major sections */
}

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;

  overflow-x: clip;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

[data-theme='light'] {
  --bg-base: #f7f0df;
  --bg-secondary: #e0ddc7;
  --bg-surface: #ffffff;
  --border-subtle: #e4e4e7;

  --text-main: #2b2b30;
  --text-muted: #52525b;
  --accent: #27272a;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-base);
  color: var(--text-muted);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a, a:visited {
  color: inherit;
}

.button-link {
  border: 1px solid var(--border-subtle);
  border-radius: 10px;
  padding: 1rem;
  gap: 1rem; 
  text-decoration: none;
}

.main-content-wrapper {
  flex-grow: 1;
}

#center {
  display: flex;
  flex-direction: column;
  align-items: center;
}